body{
    height: 100vh;
    width: 100%;
    background-color: grey;
    margin: 0px;
}


.CenterDiv{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap; /* Prevents wrapping of elements */
}

.InfoDiv {
    flex: 0 1 auto; /* Flex-grow is 0, flex-shrink is 1, flex-basis is auto */
    width: 300px; /* or whatever fixed width suits your design */
    min-width: 300px; /* Ensures InfoDiv does not shrink below a certain width */
    text-align: center;
    padding: 20px;
    box-sizing: border-box; /* Includes padding in the width */
}

#gameboard{
    flex: 0 0 auto;
    display: grid;
    grid-template-columns: repeat(9, auto); /* Adjust for 9 columns including labels */
    justify-content: center;
    border: #000000 3px;
    width: auto;
    width: auto;
    grid-gap: 0;
}

.label {
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.square{
    height: 80px;
    width: 80px;
    position: relative;
    pointer-events: auto; 
}

.square svg{
    height: 60px;
    width: 60px;
    margin: 10px;
    position: relative;
    z-index:-1;
    pointer-events: none;
}

path{
    position: relative;
    z-index: -2;
    pointer-events: none;
}

.piece{
    position: relative;
    z-index: 1;
}

.piece dragging{
    z-index: 3;
    opacity: 1;
    filter: none;
    transition: none; 
}

.beige{
    background-color: rgb(169, 149, 123);
}

.brown{
    background-color: brown;
}

.black{
    fill: 'black';
}

.white{
    fill: white;
}

